---
import "../styles/global.css";
---

<div id="container">
	<main>
		<section id="hero">
			<h1>
				Welcome to my blog, I will write about my projects, and
				differents subjects. I hope you will enjoy the reading. Note I
				will try to mainly write in Japanese to practice my Japanese.
				<br />
				私のブログへようこそ。ここでは、私のプロジェクトやさまざまなテーマについて書いていきます。
				読んで楽しんでいただけたら嬉しいです。なお、日本語の練習のため、できるだけ日本語で書くようにしたいと思います。
			</h1>
		</section>
		<br />
		<section id="news">
			<h1>My Learning Blog / 勉強のブログ</h1>
			<p>This is where I will post about my journey.</p>
			<p>私の冒険の話を書いております。</p>
			<ul>
				<li><a href="/posts/post-1/">Post 1 / ポスト１</a></li>
				<li><a href="/posts/post-2/">Post 2 / ポスト２</a></li>
				<li><a href="/posts/post-1/">Post 3 / ポスト３</a></li>
				<li><a href="/posts/post-1/">Post 4 / ポスト４</a></li>
				<li><a href="/posts/post-1/">Post 5 / ポスト５</a></li>
			</ul>
		</section>
	</main>
</div>
